{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="container-fluid px-4">
        <div class="card mt-4">
            <div class="card-header">
                <h4>Adicionar Receita</h4>
            </div>
            <div class="card-body" style="overflow-x:auto;">
                {% if form.errors %} 
                {% for field in form %} 
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %} 
                {% endfor %} 
                
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %} 
            {% endif %}

                <form method="post">
                    {% csrf_token %}
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right">Detalhes:</label>
                      <div class="col-sm-12 col-md-7">{{ form.detalhes }}</div>
                    </div>

                    <div class="form-group row mb-5">
                        <label class="col-form-label text-md-right">Valor Necessário</label>
                        <div class="col-sm-12 col-md-7">{{ form.valor_necessario }}</div>
                    </div>
                    
                    <div class="form-group row mb-5">
                        <label class="col-form-label text-md-right">Valor Salvo</label>
                        <div class="col-sm-12 col-md-7">{{ form.valor_salvo }}</div>
                    </div>
                
                    <div class="form-group">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Data</label>
                        <div class="col-sm-12 col-md-3">{{ form.data}}</div>
                    </div>

                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                          <div class="col-sm-12 col-md-7">
                            <button class="btn btn-primary">Salvar Item</button>
                          </div>
                        </div>
                      </div>  
                </form>
            </div>
        </div>
    </div>

    {% endblock %}